name: Publish GitHub Release

on:
  push:
    tags:
      - '*'

jobs:
  publish-release:
    runs-on: ubuntu-latest
    steps:
      - id: get_version
        run: echo "version=$(echo ${GITHUB_REF#refs/heads/tags/})" >> "$GITHUB_OUTPUT"

      - uses: uniquesca/continuous-integration/publish-github-release@main
        with:
          release_version: ${{ steps.get_version.outputs.version }}
          repo_token: ${{ secrets.PUBLIC_ACCESS_TOKEN }}
